*{
  font-family: 'sen', sans-serif;
  font-weight: 100;
}

/* landing page */
.content__landingpage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('./components/images/Landingpage.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;

}

.btn_landing{
  width: 15vh;
  height: 10vh;
  border: black;
  border-radius: 3vh;
  box-shadow: 50px 50px 90px 20px rgb(46, 46, 46);
  cursor: pointer;
  font-size: 1.5vh;
}

.btn_landing:hover{
  width: 15vh;
  height: 10vh;
  background-color:#d4cdd4;
  border: black;
  border-radius: 3vh;
  box-shadow: 50px 50px 90px 20px rgb(46, 46, 46);
  cursor: pointer;
  font-size: 1.5vh;
}

.btn_landing:active{
  width: 15vh;
  height: 10vh;
  background-color:#d4cdd4;
  border-radius: 3vh;
  box-shadow: 50px 50px 90px 20px rgb(46, 46, 46);
  cursor: pointer;
  font-size: 1.5vh;
}

/* main */
.content{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('./components/images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.header,.aside,.footer{
  padding:30px;
}

.header{
  background: transparent;
  flex-basis: 60px;
  border-top:1px solid #fff;
  border-bottom: 1px solid #fff;
}
.main{
  padding:10px;
  background: transparent;
  border-bottom:1px solid #fff;
  flex-basis:300px;
  flex-grow: 2;
  flex-shrink: 0;
}

/* searcher */
.btn_searcher{
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
  border:solid 1px;
}
.btn_searcher:hover{
 background-color: gray;
 color: honeydew;
}
.btn_searcher:active{
  background-color:#fff;
  color: #000;
  border:solid 1px #000;
 }

/* home btn */
.btn_setfilterplus{
  border-radius: 5px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 9px;
  padding-left: 9px;
  border:solid 1px;
  margin-left: 5px;
}

.btn_setfilterplus:hover{
 background-color: gray;
 color: honeydew;
}

.btn_setfilterplus:active{
  background-color:#fff;
  color: #000;
  border:solid 1px #000;
}

.btn_setfilter{
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  border:solid 1px;
}
.btn_setfilter:hover{
 background-color: gray;
 color: honeydew;
}
.btn_setfilter:active{
  background-color:#fff;
  color: #000;
  border:solid 1px #000;
 }

/* main details */
.main__detail{
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.detail_card{
  border:solid 1px #000;
  margin-top: 10px;
  border-radius: 5px;
  border-top: solid gray 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.img_details{
  display: block;
  margin-top: 25px;
  min-width: 70vh;
  max-width: 110vh;
  border-radius: 10px;
  height: 50vh;
}
/* main activities */
.main_activities{
  background-color: #fff;
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
}
.form{
  display: flex;
  flex-direction: column;
}
.form_section{
  justify-content: center;
  margin-left: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 40px;

}
.creating_activity{
  background-color: gray;
  border: solid 1px #000;
  margin-top: 22px;
  margin-right: 10px;
  border-radius: 10px;
  padding-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.btn_plus{
  border-radius: 5px;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 7px;
  padding-left: 7px;
  border:solid 1px;
}
.btn_plus:hover{
 background-color: gray;
 color: honeydew;
}
.btn_plus:active{
  background-color:#fff;
  color: #000;
  border:solid 1px #000;
 }

.btn_set{
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  border:solid 1px;
}
.btn_set:hover{
 background-color: gray;
 color: honeydew;
}
.btn_set:active{
  background-color:#fff;
  color: #000;
  border:solid 1px #000;
 }

.btn_send{
  margin-left: 68px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  border:solid 1px;
}
.btn_send:hover{
 background-color: gray;
 color: honeydew;
}
.btn_send:active{
  background-color:#fff;
  color: #000;
  border:solid 1px #000;
 }
/*  details button */
.form_btn1{
  background-image: url('./components/images/BTN1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:solid 1px transparent;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}
.form_btn1:hover{
  border:solid 1px;
  border-radius: 4px;
  cursor: pointer;
}
.form_btn1:active{
  background-repeat: no-repeat;
  border:solid transparent 1px;
  border-radius: 4px;
}
.form_btn2{
  background-image: url('./components/images/BTN2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:solid 1px transparent;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}
.form_btn2:hover{
  border:solid 1px;
  border-radius: 4px;
  cursor: pointer;
}
.form_btn2:active{
  background-repeat: no-repeat;
  border:solid transparent 1px;
  border-radius: 4px;
}
.form_btn3{
  background-image: url('./components/images/BTN3.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:solid 1px transparent;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}
.form_btn3:hover{
  border:solid 1px;
  border-radius: 4px;
  cursor: pointer;
}
.form_btn3:active{
  background-repeat: no-repeat;
  border:solid transparent 1px;
  border-radius: 4px;
}

.form_btn4{
  background-image: url('./components/images/BTN4.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:solid 1px transparent;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}
.form_btn4:hover{
  border:solid 1px;
  border-radius: 4px;
  cursor: pointer;
}
.form_btn4:active{
  background-repeat: no-repeat;
  border:solid transparent 1px;
  border-radius: 4px;
}
.form_btn5{
  background-image: url('./components/images/BTN5.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border:solid 1px transparent;
  border-radius: 4px;
  height: 40px;
  width: 40px;
}
.form_btn5:hover{
  border:solid 1px;
  border-radius: 4px;
  cursor: pointer;
}
.form_btn5:active{
  background-repeat: no-repeat;
  border:solid transparent 1px;
  border-radius: 4px;
}

.aside{
  background: transparent;
  border-bottom:1px solid #fff;
  flex-basis: 200px;
  flex-shrink: 0;
}
.aside__card{
  background-color: #fff;
  padding-top: 4px;
  padding-bottom: 50px;
  padding-left: 30px;
  border-radius: 4px;
  position: relative;
  margin-top: 15px;
}
.footer{
  background: transparent;
  flex-grow: 1;
  border-right:1px solid gray;
  border-left:1px solid gray;
  border-bottom:1px solid gray;
  text-align: center;
  border-radius:5px
}

.btn{
  text-decoration: none;
  margin: 0.5vh;
  color: black;
}
.btn:hover{
  text-decoration: none;
  margin: 0.5vh;
  color:#fff;
}

.btn:active{
  text-decoration: none;
  margin: 0.5vh;
  color:#fff;
}
.flex-cointainer__card{
  display: flex;
  border:none;
  background-color:transparent;
  min-height: 50vh;
  flex-wrap: wrap;
  border-radius: 10px;
  justify-content: center;
}
.card{
  background-color:white;
  padding: 15px;
  min-width: 110px;
  max-width: 110px;
  text-align: center;
  margin:10px;
  height:100px;
  border-radius: 5px;
  border-bottom:solid #fff;
  border-right:solid #fff;
  cursor:pointer;
  font-size: 11px;
  box-shadow: 0px 12px 20px 10px rgb(46, 46, 46);
  animation-name: animar;
}
.card:hover{
  background-color:white;
  padding: 10px;
  text-align: center;
  margin:11.5px;
  height: 90px;
  border-radius: 5px;
  border:solid black 5px;
  cursor:pointer;
  font-size: 11px;
  box-shadow: 0px 12px 20px 10px rgb(46, 46, 46);
  transition:0.7s
}

.img{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 40px;
  height: 30px;
}
.cointainer_btn_pg{
  display:flex;
  justify-content:center;
}

.btn_next{
  background:transparent;
  background-image: url('./components/images/right-arrow.png');
  border-radius:2px;
  border:none;
  margin:2px;
  margin-top: 10px;
  cursor:pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width:30px;
  height:20px;
}
.btn_next:hover{
  background:transparent;
  background-image: url('./components/images/right-arrow.png');
  border-radius:2px;
  border:none;
  margin:2px;
  margin-top: 10px;
  cursor:pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width:30px;
  height:20px;
  filter:blur(1px)
}

.btn_back{
  background:transparent;
  background-image: url('./components/images/left-arrow.png');
  border-radius:2px;
  border:none;
  margin:2px;
  margin-top: 10px;
  cursor:pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width:30px;
  height:20px;
}
.btn_back:hover{
  background:transparent;
  background-image: url('./components/images/left-arrow.png');
  border-radius:2px;
  border:none;
  margin:2px;
  margin-top: 10px;
  cursor:pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width:30px;
  height:20px;
  filter:blur(1px)
}
/* Activities */
.menu{
  background-color:white;
  padding: 15px;
  min-width: 110px;
  max-width: 110px;
  text-align: center;
  margin:10px;
  height:100px;
  border-radius: 5px;
  border-bottom:solid #fff;
  border-right:solid #fff;
  cursor:pointer;
  font-size: 11px;
  box-shadow: 0px 12px 20px 10px rgb(46, 46, 46);
}
/* version movil */
@media screen and (min-width:700px){
  .content__landingpage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('./components/images/Landingpage.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
  }
  .content{
    display: grid;
    grid-template-rows: 80px 1fr 1fr 1fr 1fr 80px;
    grid-template-columns: repeat(3,1fr);
    background-image: url('./components/images/Background.png');
  }
  .header{
    grid-column: 1/ span 3;
   }
  .main{
    grid-row: 2 / 6;
    grid-column: 1/ span 2;
  }
  .aside{
    grid-row: 2 / 6;
    background: transparent;
  }

  .footer{
    grid-row:6 / 7;
    grid-column: 1 /span 3;
  }
}


